@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-sm tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40 ;
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40
    }
}

body{
    background-color: #272727;
    color: #fff;
}




.read-more{
    color: #6EEB83;
}

.date , .category{
    font-weight: bolder;
    font-size: large;
    font-family: serif;
}

.category{
    color: #6EEB83;
}

.tag{
    border-color: #6EEB83;
    border-style: solid;
    color: #6EEB83;
}

.rectangle.active{
    border-color: #6EEB83;
    border-style: solid;
    border-width: 2px;
    width: 100%;
}

.post-title{
    margin-bottom: 1rem;
    font-family: serif;
    color: #6EEB83;
}

.post .blog-title{
    font-family: serif;
    color: #6EEB83;
    font-size: 3rem;
}

.post h1{
    font-family: serif;
    font-size: 2rem;
    font-weight: 900;
    margin: 25px 0;
}

.post h2{
    font-family: serif;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 25px 0;
}

.post h3{
    font-family: serif;
    font-size: 1.2rem;
    font-weight: 900;
    margin: 25px 0;
}

.post ul , p , ol{
    all: revert;
}



code {
    display: block;
    padding: 10px;
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 4px;
    overflow-x: auto; /* Add horizontal scroll for small screens */
  }
  
  code .keyword {
    color: #569cd6;
  }
  
  code .string {
    color: #ce9178;
  }
  
  code .comment {
    color: #6a9955;
    font-style: italic;
  }
  
  @media screen and (max-width: 600px) {
    code {
      font-size: 12px;
      word-wrap: break-word;
      overflow-x: scroll; /* Add scroll for small screens */
    }
  }
  
.post table,th,td{
    border: 1px solid white;
    padding: 10px;
}
